.input {
	border-radius: 10px;
	color: white;
	transition: .2s linear;
	background: #252525;
	padding: .5rem 1rem;
	user-select: none;
	font-weight: 500;
	width: 100%;
	
	&:focus{
		outline: #525252 2px solid;
	}

	&--secondary{
		background: #525252;
		border-radius: 4px;
		&:focus {
			outline-color: #9b9b9b;
		}
	}
	&--ghost{
		background: rgba($color: #ffffff, $alpha: 0);
		border-radius: 4px ;
		border: 1px solid #252525;
		&:focus {
			outline-color: #9b9b9b;
		}
	}
}
