.label {
	dt {
		font-weight: 500;
		font-size: 14px;
		color: white;
		margin-bottom: .5rem;


	}

	dd {
		small {
			color: rgb(224, 4, 4);
			font-size: 12px;
			font-weight: 500;
		}
	}

	&:has(dd small) dt{
		color: rgb(224, 4, 4);
	}

	

	&--secondary {
		dt {
			color: #252525;
		}
	}
}