@use '../styles/base/mixins' as *;

.tab {
	width: fit-content;
	border-radius: 10px;
	background: #252525;
	padding: 3px;
	display: flex;
	align-items: center;
	color: white;
	
	&_item {
		padding: calc(.5rem - 3px) calc(1rem - 3px);
		border-radius: inherit;
		cursor: pointer;
		user-select: none;
		transition: 0.2s ease-in;

		@include hover{
			background-color: #3f3f3f;
		}

		&--active {
			background-color: #252525;
		}
	}

	&--secondary {
		background: #525252;
		border-radius: 4px;

		&_item {
			@include hover {	
					background-color: #2b2b2b;}	

			&--active {
				background-color: #525252;
			}
		}
	}
}