
@mixin grid($cols, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(#{$cols}, 1fr);
  gap: $gap;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus{
    @content;
  }
}